{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}" type="text/css"/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% for user in profile_info %}
        <div id="upper-profile">
            <div id="profile-info">
                <img class="profile-avatar" src="/{{ user.avatar }}" alt="user-avatar"/>
                <p class="profile-username">{{ user.username }}</p>
                <p class="profile-level">Lvl {{ user.level }}</p>
            </div>
            <div id="profile-text">
                {{ user.profile_text }}
            </div>
        </div>
        <div id="lower-profile">
            <div id="lower-profile-left">
                <div id="profile-warband">
                    {% for dwarf in profile_warband %}
                        <div class="dwarf">
                            <p>{{ dwarf.name }}</p>
                        </div>
                    {% endfor %}
                    <div>
                        <p>Total battle power:</p>
                        <p>{{ total_battle_power }}</p>
                    </div>
                </div>
                <div id="profile-achievements">

                </div>
            </div>
            <div id="lower-profile-right">
                <div id="profile-last-visited">

                </div>
            </div>
        </div>
        <h3 id="comments-h3">Comments:</h3>
        <div id="comments-box">
            {% for author_id, comment in comments.items %}
                <div class="comment-author">
                    <a href="{% url 'profile' user_id=author_id %}">{{ comment.0 }}</a>
                </div>
                <div class="comment-text">
                    <span>{{ comment.1 }}</span>
                </div>
            {% endfor %}
            <form method="POST">
                {% csrf_token %}
                {{ create_comment }}
                <input type="submit" value="Post comment!">
            </form>
        </div>
    {% endfor %}
{% endblock %}

{% block status-tab %}
    {% include 'status-tab.html' %}
{% endblock %}
