{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/profile/profile.css' %}" type="text/css"/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% for user in profile_info %}
        <div id="profile">

            <div id="upper-profile">
                <!-- Avatar, username, level -->
                <div id="profile-info">
                    <img class="avatar" src="/{{ user.avatar }}" alt="user-avatar"/>
                    <div>
                        <p class="username">{{ user.username }}</p>
                        <p class="level">Lvl {{ user.level }}</p>
                    </div>
                </div>
                <!-- Gold and rubies -->
                <div id="profile-currencies">
                    <div><img src="{% static 'images/currency-icons/gold.png' %}" alt="Gold: " /> <span>{{ user.gold }}</span></div>
                    <div><img src="{% static 'images/currency-icons/ruby.png' %}" alt="Rubies: "/> <span>{{ user.rubies }}</span></div>
                </div>
                <!-- Profile text -->
                <div id="profile-text">
                    <p>{{ user.username }}'s slab of text</p>
                    <span>{{ user.profile_text }}</span>
                </div>
            </div>

            <div id="lower-profile">
                <div id="lower-profile-left">
                    <!-- Warband -->
                    <div id="profile-warband">
                        <h3>Warband</h3>
                        {% for dwarf in profile_warband %}
                            <div class="dwarf">
                                <p>{{ dwarf.name }}</p>
                            </div>
                        {% endfor %}
                        <div id="battle-power">
                            <p>Total battle power:</p>
                            <p>{{ total_battle_power }}</p>
                        </div>
                    </div>
                    <!-- Achievements -->
                    <div id="profile-achievements">

                    </div>
                </div>
                <div id="lower-profile-right">
                    <!-- Last visits -->
                    <div id="profile-last-visited">
                        <h3>Last visited by:</h3>
                        {% for entry in guestbook %}
                            <div class="profile-guest">
                                <img class="profile-avatar" src="/{{ entry.guest.avatar }}" alt="user-avatar"/>
                                <div>
                                    <a href="{% url 'profile' profile_id=entry.guest.id %}">{{ entry.guest }}</a>
                                    <p>{{ entry.timestamp }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- COMMENTS -->
            <div id="comments">

                <!-- All comments -->
                <h3 id="comments-h3">Comments:</h3>
                {% if comments %}
                <span id="total-reputation">Reputation: {{ user.reputation }}</span>
                <div id="comments-box">
                    {% for comment in comments %}
                        <div class="comment-author {% if comment.points == 1 %} author-positive
                                                   {% elif comment.points == 0 %} author-neutral
                                                   {% elif comment.points == -1 %} author-negative
                                                   {% endif %}">
                            <a href="{% url 'profile' profile_id=comment.author_id %}">{{ comment.author }}</a>
                            <span>{{ comment.timestamp }}</span>
                            {% if comment.author == request.user %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="submit" name="delete_comment" value="Delete">
                                </form>
                            {% endif %}
                        </div>
                        <div class="comment-text {% if comment.points == 1 %} text-positive
                                                 {% elif comment.points == 0 %} text-neutral
                                                 {% elif comment.points == -1 %} text-negative
                                                 {% endif %}">
                            <span>{{ comment.text }}</span>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <p>This user has no comments.</p>
                {% endif %}

                <!-- Comment creation form -->
                <form method="POST">
                    {% csrf_token %}
                    {{ comment_form.text }}
                    <div id="comment-buttons">
                        {{ comment_form.points }}
                        <input type="submit" name="create_comment" value="Post comment!">
                    </div>
                </form>

                <!-- Your comment -->
                <div id="your-comment">
                {% if your_comment %}
                    <h2>Your comment:</h2>
                    {% for comment in your_comment %}
                        <div class="comment-author {% if comment.points == 1 %} author-positive
                                                   {% elif comment.points == 0 %} author-neutral
                                                   {% elif comment.points == -1 %} author-negative
                                                   {% endif %}">
                            <a href="{% url 'profile' profile_id=comment.author_id %}">{{ comment.author }}</a>
                            <span>{{ comment.timestamp }}</span>
                            {% if comment.author == request.user %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="submit" name="delete_comment" value="Delete">
                                </form>
                            {% endif %}
                        </div>
                        <div class="comment-text {% if comment.points == 1 %} text-positive
                                                 {% elif comment.points == 0 %} text-neutral
                                                 {% elif comment.points == -1 %} text-negative
                                                 {% endif %}">
                            <span>{{ comment.text }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
                </div>

            </div>

        </div>
    {% endfor %}
{% endblock %}

{% block status-tab %}
    {% include 'status-tab.html' %}
{% endblock %}
