#navbar, #status-tab {
    display: none;
}

.logo {
    font-size: 4.5em;
    margin-bottom: 50px;
}

.logo, h2 {
    font-family: Avara, serif;
    text-align: center;
    color: #ffbf24;
}

#signup-form {
    display: flex;
    flex-flow: column;
    align-items: center;

    max-width: 100px;
}

.form-item {
    display: flex;
    flex-flow: column;

    padding-bottom: 25px;
    > * {
        text-align: left;
    }
}

.form-title {
    > * {
        font-size: 1.2em;
        font-weight: bold;
    }
}

.form-field {
    > * {
        padding: 5px;

        font-size: 1.2em;
        background-color: #672e2b;
    }
}

.error-message {
    color: red;
    text-align: left;
    font-size: 1.2em;
}

.button-container {
    display: flex;
    justify-content: center;

    > button {
        width: 150px;
        height: 35px;
        margin-bottom: 30px;

        background-color: #672e2b;
        color: #ffbf24;
        transition: ease-in-out 0.1s;
    }

    > button:hover {
        background-color: #a83430;
    }
}

span {
    text-align: center;
}

.login {
    font-family: Avara, serif;
    color: #ffbf24;
    transition: ease-in-out 0.1s;

    &:hover {
        color: #ff8800;
    }
}

#success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}