{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/dwarves/barracks.css' %}" type="text/css"/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% if not warband %}
    <form action="/barracks/" method="POST">
        {% csrf_token %}
        {% for form in formset %}
            <p>{{ form }}</p>
        {% endfor %}
        <input type="submit" value="Yep, that's about right.">
    </form>
    {% else %}

    {% endif %}
{% endblock %}

{% block status-tab %}
    {% include 'status-tab.html' %}
{% endblock %}
