{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/dwarves/dwarf.css' %}" type="text/css"/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% for dwarf in dwarf %}
    <div id="dwarf">
        <div id="card-info">
            <div>
                <h3 class="dwarf-name">{{ dwarf.name }}</h3>
                {% if dwarf.title %}
                <h4 class="dwarf-title">{{ dwarf.title }}</h4>
                {% endif %}
            </div>
            <img class='dwarf-variant' src="{% static 'images/dwarf-variants/dwarf1.png' %}" alt="dwarf" />
        </div>

        <div id="attributes">
            <h3>Attributes</h3>
            <table>
                <tr id="upper-rim">
                    <td></td>
                    <td>Base</td>
                    <td>Multiplier</td>
                    <td>Bonus</td>
                    <td>Total:</td>
                </tr>
                <tr class="attribute-row">
                    <td>Strength</td>
                    <td>{{ dwarf.strength_base }}</td>
                    <td>{{ dwarf.strength_multiplier }}</td>
                    <td>{{ dwarf.strength_bonus }}</td>
                    <td>{{ dwarf.strength_total }}</td>
                </tr>
                <tr class="attribute-row">
                    <td>Intelligence</td>
                    <td>{{ dwarf.intelligence_base }}</td>
                    <td>{{ dwarf.intelligence_multiplier }}</td>
                    <td>{{ dwarf.intelligence_bonus }}</td>
                    <td>{{ dwarf.intelligence_total }}</td>
                </tr>
                <tr class="attribute-row">
                    <td>Endurance</td>
                    <td>{{ dwarf.endurance_base }}</td>
                    <td>{{ dwarf.endurance_multiplier }}</td>
                    <td>{{ dwarf.endurance_bonus }}</td>
                    <td>{{ dwarf.endurance_total }}</td>
                </tr>
                <tr class="attribute-row">
                    <td>Speed</td>
                    <td>{{ dwarf.speed_base }}</td>
                    <td>{{ dwarf.speed_multiplier }}</td>
                    <td>{{ dwarf.speed_bonus }}</td>
                    <td>{{ dwarf.speed_total }}</td>
                </tr>
                <tr class="attribute-row">
                    <td>Agility</td>
                    <td>{{ dwarf.agility_base }}</td>
                    <td>{{ dwarf.agility_multiplier }}</td>
                    <td>{{ dwarf.agility_bonus }}</td>
                    <td>{{ dwarf.agility_total }}</td>
                </tr>
                <tr class="attribute-row">
                    <td>Willpower</td>
                    <td>{{ dwarf.willpower_base }}</td>
                    <td>{{ dwarf.willpower_multiplier }}</td>
                    <td>{{ dwarf.willpower_bonus }}</td>
                    <td>{{ dwarf.willpower_total }}</td>
                </tr>
                <tr class="attribute-row">
                    <td>Charisma</td>
                    <td>{{ dwarf.charisma_base }}</td>
                    <td>{{ dwarf.charisma_multiplier }}</td>
                    <td>{{ dwarf.charisma_bonus }}</td>
                    <td>{{ dwarf.charisma_total }}</td>
                </tr>
                <tr class="attribute-row">
                    <td>Luck</td>
                    <td>{{ dwarf.luck_base }}</td>
                    <td>{{ dwarf.luck_multiplier }}</td>
                    <td>{{ dwarf.luck_bonus }}</td>
                    <td>{{ dwarf.luck_total }}</td>
                </tr>
            </table>
        </div>

        <div id="equipment">
            <h3>Equipment</h3>
            <div id="equipment-box">
            {% for slot, item in equipment.items %}
                <div class="item-box">
                    <span>{{ slot|capfirst }}:</span>
                    <div class="item">
                        <div class="item-icon">
                            <img src="/{{ item.icon }}" alt="headpiece" />
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                {{ item.name }}
                            </div>
                            <div class="item-attributes">
                            {% if item.strength_multiplier > 1.0 or item.strength_bonus > 0 or item.intelligence_multiplier > 1.0 or item.intelligence_bonus > 0 or item.endurance_multiplier > 1.0 or item.endurance_bonus > 0 or item.speed_multiplier > 1.0 or item.speed_bonus > 0 or item.agility_multiplier > 1.0 or item.agility_bonus > 0 or item.willpower_multiplier > 1.0 or item.willpower_bonus > 0 or item.charisma_multiplier > 1.0 or item.charisma_bonus > 0 or item.luck_multiplier > 1.0 or item.luck_bonus > 0 %}
                                <table>
                                    <tr id="upper-rim">
                                        <td></td>
                                        <td>Multiplier</td>
                                        <td>Bonus</td>
                                    </tr>
                                    {% if item.strength_multiplier > 1.0 or item.strength_bonus > 0 %}
                                    <tr>
                                        <td>Strength</td>
                                        <td>{{ item.strength_multiplier }}</td>
                                        <td>{{ item.strength_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if item.intelligence_multiplier > 1.0 or item.intelligence_bonus > 0 %}
                                    <tr>
                                        <td>Intelligence</td>
                                        <td>{{ item.intelligence_multiplier }}</td>
                                        <td>{{ item.intelligence_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if item.endurance_multiplier > 1.0 or item.endurance_bonus > 0 %}
                                    <tr>
                                        <td>Endurance</td>
                                        <td>{{ item.endurance_multiplier }}</td>
                                        <td>{{ item.endurance_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if item.speed_multiplier > 1.0 or item.speed_bonus > 0 %}
                                    <tr>
                                        <td>Speed</td>
                                        <td>{{ item.speed_multiplier }}</td>
                                        <td>{{ item.speed_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if item.agility_multiplier > 1.0 or item.agility_bonus > 0 %}
                                    <tr>
                                        <td>Agility</td>
                                        <td>{{ item.agility_multiplier }}</td>
                                        <td>{{ item.agility_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if item.willpower_multiplier > 1.0 or item.willpower_bonus > 0 %}
                                    <tr>
                                        <td>Willpower</td>
                                        <td>{{ item.willpower_multiplier }}</td>
                                        <td>{{ item.willpower_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if item.charisma_multiplier > 1.0 or item.charisma_bonus > 0 %}
                                    <tr>
                                        <td>Charisma</td>
                                        <td>{{ item.charisma_multiplier }}</td>
                                        <td>{{ item.charisma_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                    {% if item.luck_multiplier > 1.0 or item.luck_bonus > 0 %}
                                    <tr>
                                        <td>Luck</td>
                                        <td>{{ item.luck_multiplier }}</td>
                                        <td>{{ item.luck_bonus }}</td>
                                    </tr>
                                    {% endif %}
                                </table>
                            {% endif %}
                            </div>
                            <div class="item-enhancements">
                                {% for enhancement, level in item.enhancements.items %}
                                    <h4>{{ enhancement }} {{ level }}</h4>
                                {% endfor %}
                            </div>
                            <div class="item-tooltip">
                                {{ item.tooltip }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block status-tab %}
    {% include 'status-tab.html' %}
{% endblock %}