#profile {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

#upper-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;

    #profile-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 50px;

        .profile-avatar {
            max-width: 100px;
        }

        .profile-username {

        }

        .profile-level {
            width: 100%;
        }
    }

    #profile-currencies {
        display: flex;
        justify-content: center;
        column-gap: 50px;
    }

    #profile-text {
        background-color: #731b1b;
        border: #601b17 ridge 7px;
        width: 100%;
        padding: 0 20px 20px 20px;

        > p {
            text-align: center;
            color: #948686;
            font-style: italic;
        }

        > span {
            white-space: pre-line;
        }
    }
}

#lower-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #lower-profile-left {
        width: 35%;

        #profile-warband {
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            background-color: #4d1b17;
            padding: 10px;

            .dwarf {
                background-color: #9b0b00;

                > p {
                    color: #ff8800;
                    font-weight: bold;
                    padding: 0 10px 0 10px;
                }

            }

            #battle-power {
                background-color: #9b0b00;
                padding: 1px 10px 1px 10px;

            }

        }

    }

    #lower-profile-right {
        width: 35%;

    }
}

#comments {
    background-color: #4d1b17;
    padding: 0 30px 30px 30px;

    #comments-h3 {
        color: #ff8800;
        font-weight: bold;
    }

    #total-reputation {

    }

    #comments-box {
        max-height: 500px;
        margin-top: 20px;
        border: #ff8800 ridge 3px;
        overflow: scroll;
    }

    .comment-author {
        display: flex;
        justify-content: space-between;

        padding: 10px;

        > a {
            color: #f9b917;
            font-weight: bold;
        }

        > form > input[type=submit] {
            width: 100px;

            background-color: #9b0b00;
            transition: 0.1s;
        }

        > form > input[type=submit]:hover {
            background-color: #c01709;
        }
    }

    .comment-text {
        padding: 0 15px 10px 15px;

        white-space: pre-line;
    }

    > form {
        display: flex;
        flex-direction: column;
        align-items: center;

        > textarea {
            width: 80%;
            margin-top: 30px;
            background-color: #4d1b17;

            resize: none;
        }

        #comment-buttons {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            width: 80%;

            > select {
                width: 150px;

                background-color: #9b0b00;
                margin-top: 15px;
                padding: 10px;

            }

            > input[type=submit] {
                width: 150px;

                background-color: #9b0b00;
                margin-top: 15px;
                padding: 10px;

                transition: 0.1s;
            }

            > input[type=submit]:hover {
                background-color: #c01709;
            }
        }
    }
}


.author-positive {
    background-color: #045704;
}

.author-neutral {
    background-color: #4b4848;
}

.author-negative {
    background-color: #73261e;
}

.text-positive {
    background-color: #147a14;
}

.text-neutral {
    background-color: #866767;
}

.text-negative {
    background-color: #8d2d2d;
}