{% extends 'base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/authentication/index.css" type="text/css"/>
    <link rel="stylesheet" href="/static/authentication/base/auth-base.css" type="text/css"/>
{% endblock %}

{% block content %}
    <h1>Everlast</h1>
    <div class="first-layer text-align-right">
        <div class="text-item right-border">
            <h2>Lorem ipsum</h2>
            <p>Mauris condimentum, justo ut ultricies semper, augue nulla gravida nunc,
                eget ultricies risus nisi at neque. Nam iaculis purus et erat fringilla,
                at varius nibh cursus.</p>
        </div>
        <img src="/static/placeholder.png" alt="placeholder">
    </div>
    <div class="second-layer text-align-left">
        <img src="/static/placeholder.png" alt="placeholder">
        <div class="text-item left-border">
            <h2>Lorem ipsum</h2>
            <p>Mauris condimentum, justo ut ultricies semper, augue nulla gravida nunc,
                eget ultricies risus nisi at neque. Nam iaculis purus et erat fringilla,
                at varius nibh cursus.</p>
        </div>
    </div>
    <div class="bottom-layer text-align-center">
        <h2>Lorem ipsum</h2>
        <p>Mauris condimentum, justo ut ultricies semper, augue nulla gravida nunc,
            eget ultricies risus nisi at neque. Nam iaculis purus et erat fringilla,
            at varius nibh cursus.</p>
        <div class="signup-login">
            <a class="signup" href="/signup">Sign up!</a>
            <span>Already have an account? <a class="login" href="/login">Login here.</a></span>
        </div>
    </div>
    <img src="/static/placeholder.png" alt="placeholder">
{% endblock %}
