* {
    box-sizing: border-box;
    font-family: Avara, serif;
    font-weight: normal;
    font-style: normal;

    color: #eedfdc;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

@font-face {
    font-family: Avara;
    src: url("../static/fonts/Avara.otf") format("opentype")
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: url("city.png") no-repeat fixed bottom;
    background-size: cover;
    min-height: 100vh;
}

#navbar, #status-tab {
    display: flex;
    flex-flow: column;

    position: fixed;
    bottom: 0;
    top: 0;

    width: 15vw;
    height: 100vh;

    background-color: rgba(59, 27, 25, 80%);
}

#navbar {
    border-right: ridge 2px #ffbf24;
    left: 0;
}

#status-tab {
    border-left: ridge 2px #ffbf24;
    right: 0;
}

#content {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 50vw;
    padding: 10vh 5vw 10vh 5vw;
    overflow: auto;

    background-color: rgba(59, 27, 25, 80%);
    border: ridge 2px #ffbf24;
    border-top: none;
    border-bottom: none;
}

.logo {
    text-align: center;

    > h2 {
        color: #ffbf24;
    }
}

.center {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}