@import url('/static/palette.css');

* {
    box-sizing: border-box;
    font-family: Nunito-sans, serif;
    font-weight: normal;
    font-style: normal;

    color: #eedfdc;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

@font-face {
    font-family: Avara;
    src: url("../static/fonts/Avara.otf") format("opentype");
}

@font-face {
    font-family: Nunito-sans;
    src: url("../static/fonts/NunitoSans.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background: url("city.png") no-repeat fixed bottom;
    background-size: cover;
    min-height: 100vh;
}

#navbar, #status-tab {
    display: flex;
    flex-flow: column;

    position: fixed;
    bottom: 0;
    top: 0;

    width: 17vw;
    height: 100vh;
    padding: 15px;

    background-color: var(--true-background);

    @media (max-width: 1500px) {
        width: 20vw;
    }
}

#navbar {
    display: flex;
    border-right: ridge 2px var(--gold);
    left: 0;

    > #navbar-top {
        display: flex;
        align-items: flex-end;

        gap: 10px;
    }

    > .navbar-segment {
        display: flex;
        flex-direction: column;

        margin-top: 20px;
    }

    > div > h3 {
        font-family: Avara, serif;
        font-size: 1.25em;
        color: var(--orange);
        margin-bottom: 5px;
    }

    > div > a {
        font-size: 1.05em;
        font-family: Nunito-sans, serif;
        font-weight: bold;
        color: var(--gold);
        margin-bottom: 3px;
        padding: 3px 0 3px 2px;
    }

    > .navbar-segment > a:hover {
        background-color: var(--red-background);
    }
}

#status-tab {
    display: flex;
    border-left: ridge 2px var(--gold);
    right: 0;

    > #status-tab-top {
        display: flex;
        justify-content: space-around;
        margin-bottom: -20px;
    }

    > .status-tab-segment {
        display: flex;
        flex-direction: column;

        margin-top: 20px;
    }

    > div > h3 {
        font-family: Avara, serif;
        font-size: 1.25em;
        color: var(--orange);
        margin-bottom: 5px
    }

    > div > a {
        font-size: 1.05em;
        font-family: Nunito-sans, serif;
        font-weight: bold;
        color: var(--gold);
        margin-bottom: 3px;
        padding: 3px 0 3px 2px;
    }

    > .status-tab-segment > .dwarf-info, .crafting-info {
        display: flex;
        flex-direction: column;
        background-color: var(--darkred-background);
        padding: 8px 0 10px 10px;
        margin-bottom: 10px;

        > * {
            font-family: Nunito-sans, serif;
            font-weight: bold;
        }

        > .dwarf-name, .crafting-name {
            font-size: 1.1em;
        }

        > .dwarf-status, .crafting-status {
            display: flex;
            flex-direction: row;
            padding-top: 4px;

            font-size: 0.9em;
            color: var(--bright-green);
        }
    }

    > .status-tab-segment > .dwarf-info:hover, .crafting-info:hover {
        background-color: var(--red-hover);
    }
}

#content {
    display: flex;
    flex-direction: column;

    width: 50vw;
    padding: 10vh 5vw 10vh 5vw;
    overflow: auto;

    background-color: var(--true-background);
    border: ridge 2px var(--gold);
    border-top: none;
    border-bottom: none;
}

.logo {
    text-align: center;

    > h2 {
        font-family: Avara, serif;
        color: var(--gold);
    }
}

.center {
    display: flex;
    justify-content: center;
}

.avatar {
    max-width: 100px;
}

input[type=submit] {
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

select {
    cursor: pointer;
}

label {
    cursor: pointer;
}

.notification {
    position: absolute;
    margin-left: 8px;
    font-weight: bold;
    color: var(--red-notification);
    animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    33% { transform: rotate(10deg); }
    66% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}