* {
    box-sizing: border-box;
    font-family: Avara, serif;
    font-weight: normal;
    font-style: normal;

    color: #eedfdc;
    text-decoration: none;
    text-shadow: 2px 2px 5px black;
}

@font-face {
    font-family: Avara;
    src: url("../static/fonts/Avara.otf") format("opentype")
}

body {
    margin: 0;
    background-image: linear-gradient(#73261e, #000000);
    min-height: 100vh;
}

#main-box {
    display: flex;
    justify-content: center;

    width: 75vw;
    padding: 10vh 5vw 10vh 5vw;
    overflow: auto;

    background-color: rgba(59, 27, 25, 90%);

    border: ridge 7px #ffbf24;
    border-top: none;
}

.center {
    display: flex;
    justify-content: center;
}

input[type=submit] {
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}