{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Everlast</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css"/>
    {% block stylesheets %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</head>
<body>
    {% if user.is_authenticated %}
    <div id="navbar">
        {% block navbar %}
        {% endblock %}
    </div>
    {% endif %}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% if user.is_authenticated %}
    <div id="status-tab">
        {% block status-tab %}
        {% endblock %}
    </div>
    {% endif %}
</body>
</html>