<div id="status-tab-top">
    <a href="/">Settings</a>
    <a href="{% url 'logout' %}">Logout</a>
</div>

<div class="status-tab-segment">
    <h3>Warband</h3>
    <a href="/" class="dwarf-info">
        <span class="dwarf-name">Ivan Rockgripper</span>
        <span class="dwarf-status">Snorkling</span>
    </a>
    <a href="/" class="dwarf-info">
        <span class="dwarf-name">Ivan Rockgripper</span>
        <span class="dwarf-status">Snorkling</span>
    </a>
    <a href="/" class="dwarf-info">
        <span class="dwarf-name">Ivan Rockgripper</span>
        <span class="dwarf-status">Snorkling</span>
    </a>
    <a href="/" class="dwarf-info">
        <span class="dwarf-name">Ivan Rockgripper</span>
        <span class="dwarf-status">Snorkling</span>
    </a>
    <a href="/" class="dwarf-info">
        <span class="dwarf-name">Ivan Rockgripper</span>
        <span class="dwarf-status">Snorkling</span>
    </a>
</div>

<div class="status-tab-segment">
    <h3>Crafting</h3>
    <a href="/" class="crafting-info">
        <span class="crafting-name">Iron Mace</span>
        <span class="crafting-status">Forging (14:16)</span>
    </a>
    <a href="/" class="crafting-info">
        <span class="crafting-name">Iron Mace</span>
        <span class="crafting-status">Forging (14:16)</span>
    </a>
    <a href="/" class="crafting-info">
        <span class="crafting-name">Iron Mace</span>
        <span class="crafting-status">Forging (14:16)</span>
    </a>
</div>