<div id="status-tab-top">
    <a href="{% url 'settings' %}">Settings</a>
    <a href="{% url 'logout' %}">Logout</a>
</div>

<div class="status-tab-segment">
    <h3>Warband</h3>
    {% for dwarf in warband %}
        <a href="{% url 'dwarf' dwarf_id=dwarf.id %}" class="dwarf-info">
            <span class="dwarf-name">{{ dwarf.name }}</span>
            <span class="dwarf-status">
                {% if dwarf.status.0 == "idle" %}
                    {% if dwarf.status.1 == 0 %}
                        Snorkling 0
                    {% elif dwarf.status.1 == 1 %}
                        Snorkling 1
                    {% elif dwarf.status.1 == 2 %}
                        Snorkling 2
                    {% elif dwarf.status.1 == 3 %}
                        Snorkling 3
                    {% elif dwarf.status.1 == 4 %}
                        Snorkling 4
                    {% elif dwarf.status.1 == 5 %}
                        Snorkling 5
                    {% elif dwarf.status.1 == 6 %}
                        Snorkling 6
                    {% elif dwarf.status.1 == 7 %}
                        Snorkling 7
                    {% endif %}
                {% else %}
                    {{ dwarf.status.0 }}
                    {{ dwarf.status.1 }}
                {% endif %}
            </span>
        </a>
    {% endfor %}
</div>

<div class="status-tab-segment">
    <h3>Crafting</h3>
    <a href="/" class="crafting-info">
        <span class="crafting-name">Iron Mace</span>
        <span class="crafting-status">Forging (14:16)</span>
    </a>
    <a href="/" class="crafting-info">
        <span class="crafting-name">Iron Mace</span>
        <span class="crafting-status">Forging (14:16)</span>
    </a>
    <a href="/" class="crafting-info">
        <span class="crafting-name">Iron Mace</span>
        <span class="crafting-status">Forging (14:16)</span>
    </a>
</div>