{% extends 'base.html' %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/training/training.css' %}" type="text/css"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'css/training/training.js' %}"></script>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <h1>Training</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis mauris
        eros, ac facilisis nisi facilisis non. Praesent tempus auctor sapien in maximus.</p>
    <div id="main-box">

    <form action="/training/" method="POST">
        {% csrf_token %}
        <p>{{ form.method.label }}</p>
        {{ form }}
        <input type="submit">
    </form>

    </div>
{% endblock %}

{% block status-tab %}
    {% include 'status-tab.html' %}
{% endblock %}
