{% extends 'base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/static/interfaces/homepage.css" type="text/css"/>
    <link rel="stylesheet" href="/static/interfaces/base/interfaces-base.css" type="text/css"/>
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    <div id="news">
        <h2>Morning Dew</h2>
        <div class="article">
            <span class="article-title">Test</span>
            <span class="article-content">Test</span>
        </div>
    </div>
{% endblock %}

{% block status-tab %}
    {% include 'status-tab.html' %}
{% endblock %}
